#navigation-shop {
  float: left;
  padding: 1em;
  width: 20em;
}

#navigation-categories {
  float: left;
  padding: 1em;
  width: 20em;
}

#content {
  float: left;
  padding: 1em;
  width: 40em;
}
