{% load i18n %}
{% load multishop_adminorder_tags %}
		<div class="module" id="Orders">
		<h2 class="module-title">{% trans "Satchmo Orders" %}</h2>
		<div class="module-content">
					<h2><a href="shop/order/?status__exact=New">{% trans "New Orders" %}</a></h2>
			{% multishop_pending_order_list request.user %}
					<h2><a href="shop/order/?status__exact=In%20Process">{% trans "Orders in Process" %}</a></h2>
			{% multishop_inprocess_order_list request.user %}
					<h2><a href="shop/order/">{% trans "View all Orders" %}</a></h2>
			</div>
	</div>
